/* 1. GLOBAL STYLES */

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

body {
  font-family: "Lato", Arial, serif;
  max-width: 100%;
  margin: 0 auto;
}

figure,
h2, h3,
h4, h5,
h6, p {
  margin: 0;
}

h3 {
  font-family: "Alegreya", Georgia, serif;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: .01rem;
}

h5 {
  font-family: "Alegreya", Georgia, serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: .01rem;
}

section {
  padding: 0 1.5rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header,
section:nth-of-type(2n+2) {
  color: #fff;
  background-color: #00356b;
}

.enrol, .faculties {
  color: #0f4f97;
}

/* 1. a. Global structure styles */

.flex-section {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

img {
  display: block;
  width: 100%;
}

.main-col {
  max-width: 60%;
}

.section-title {
  padding: 2rem;
  text-align: center;
}
.side-col {
  max-width: 40%;
}

/* 1. b. Global Main-Column Feature styles */

.feat-copy {
  padding-top: 1.5rem;
}

.feat-fig {
  padding: 2.5rem 1.5rem;
}

/* 1. c. Global Info-Thumbnail Card styles */

.info {
  padding-top: 1.5rem;
}

.info-card {
  align-items: center;
  display: flex;
}

.info-card figure {
  max-width: 35%;
  padding: 1rem;
}

.info-card img {
  height: auto;
}

.info-name {
  font-size: 1.25rem;
}

.info-name,
.info-descr,
.info-more {
  padding-bottom: .5rem;
}

/* 1. d. Global navigation styles */


.nav-wrapper {
  display: flex;
  flex: 2;
  padding: 0;
}

.nav-btn {
  padding: 0 .5rem;
}


/* 2. HEADER STYLES */

header {
  align-items: center;
  border-bottom: 1px solid white;
  display: flex;
  height: 4rem;
  padding: 0 2.5rem;
  position: fixed;
  width: 94%;
  z-index: 5;
}

.logo {
  flex: 1;
}

.logo figure {
  align-items: center;
  display: flex;
}

.logo img {
  height: 3rem;
  width: auto;
}

.logo div {
  font-size: 1.75rem;
  font-weight: lighter;
  height: 2.7rem;
  padding: 0 .5rem;
}

.colmar {
  font-family: "Alegreya", Georgia, serif;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  text-transform: capitalize;
}

.academy {
  font-weight: 700;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.nav-btn a {
  font-weight: 100;
  letter-spacing: .1rem;
  color: #fff;
  text-transform: uppercase;
}


/* 3. MAIN SECTION STYLES */

main {
  position: relative;
  top: 4rem;
}

/* 3. a. Enrol Section Styles */
.enrol {
  align-items: center;
}

.enrol aside {
  padding-bottom: 10%;
}

.enrol h1 {
  font-family: "Alegreya", Georgia, serif;
  font-weight: lighter;
  font-size: 3.5rem;
  line-height: 1;
  max-width: 80%;
}

h1 span {
  font-style: italic;
}

.enrol p {
  color: #00356b;
  font-size: 1.25rem;
  max-width: 80%;
  padding-bottom: 2rem;
}

.enrol-btn {
  background-color: #0f4f97;
  height: auto;
  width: 50%;
}

.enrol-btn a {
  color: #fff;
  display: block;
  font-size: 1.25rem;
  letter-spacing: .2rem;
  padding: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

/* 3. b. Events Section Styles */
.citation {
  font-family: "Alegreya", Georgia, serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: italic;
}

/* 3. c. Faculties Section Styles */

.fac-cards {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 3.75rem 1rem 3.75rem;
}

.fac-card {
  background-color: #c3c3c3;
  max-width: 30%;
  margin: 0 .75rem 1rem .75rem;
}

.fac-card img {
  height: auto;
}

.fac-info {
  padding: 1.5rem;
}

.fac-head {
  font-size: 1rem;
  padding-bottom: .2rem;
}

.fac-sub {
  padding: .5rem 0;
  text-transform: uppercase;
}


/* 3. d. Case Studies Section Styles */

video {
  max-width: 100%;
}


/* 4. FOOTER SECTION STYLES */

footer {
  color: #0f4f97;
  align-items: center;
  display: flex;
  height: 4rem;
  padding: 1rem 1.5rem;
}

.footer a {
  color: #0f4f97;
  font-weight: bolder;
}

.copyright {
  flex: 1;
}
