/* 1. GLOBAL STYLES */

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

body {
  max-width: 1100px;
  margin: 0 auto;
}

figure,
h2,
h3,
h4,
h5,
h6,
p,
section {
  margin: 0;
}


ul {
  list-style-type: none;
}

/* 1. a. Global structure styles */

.flex-section {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

img {
  display: block;
  width: 100%;
}

.main-col {
  max-width: 60%;
}

.section-title {
  padding: 2rem;
  text-align: center;
}
.side-col {
  max-width: 40%;
}

/* 1. b. Global Main-Column Feature styles */

.feat-copy {
  padding-top: 1.5rem;
}

.feat-fig {
  padding: 2.5rem 1.5rem;
}

/* 1. c. Global Info-Thumbnail Card styles */

.info {
  padding-top: 1.5rem;
}

.info-card {
  align-items: center;
  display: flex;
}

.info-card figure {
  max-width: 35%;
  padding: 1rem;
}

.info-card img {
  height: auto;
}

.info-name {
  font-size: 1.25rem;
}

.info-name,
.info-descr,
.info-more {
  padding-bottom: .5rem;
}

/* 1. d. Global navigation styles */


.nav-wrapper {
  display: flex;
  flex: 2;
  padding: 0;
}

.nav-btn {
  padding: 0 .5rem;
}


/* 2. HEADER STYLES */

header {
  align-items: center;
  display: flex;
  height: 4rem;
  padding: 0 1.5rem;
}

.logo {
  flex: 1;
}

.logo figure {
  align-items: center;
  display: flex;
}

.logo img {
  height: 2.5rem;
  width: auto;
}

.logo span {
  height: 1rem;
  padding: 0 .5rem;
}


/* 3. MAIN SECTION STYLES */


/* 3. a. Enrol Section Styles */
.enrol {
  align-items: center;
}

.enrol aside {
  padding-bottom: 10%;
}

.enrol h1 {
  max-width: 80%;
}

.enrol p {
  padding-bottom: 2rem;
}

.enrol-btn {
  background-color: #000;
  width: 60%;
}

.enrol-btn a {
  color: #fff;
  display: block;
  padding: .5rem 0;
  text-align: center;
}

/* 3. b. Events Section Styles */
/* NB No styles in Events section. */

/* 3. c. Faculties Section Styles */

.fac-cards {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 3.75rem 1rem 3.75rem;
}

.fac-card {
  background-color: #c3c3c3;
  max-width: 30%;
  margin: 0 .75rem 1rem .75rem;
}

.fac-card img {
  height: auto;
}

.fac-info {
  padding: 1.5rem;
}

.fac-head {
  font-size: 1rem;
  padding-bottom: .2rem;
}

.fac-sub {
  padding: .5rem 0;
  text-transform: uppercase;
}


/* 3. d. Case Studies Section Styles */

video {
  max-width: 100%;
}


/* 4. FOOTER SECTION STYLES */

footer {
  align-items: center;
  display: flex;
  height: 4rem;
  padding: 1rem 1.5rem;
}

.copyright {
  flex: 1;
}
